<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63204849761-su4os5m3jvbt6rrreclt4jc90b0ogb9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63204849761-su4os5m3jvbt6rrreclt4jc90b0ogb9r</string>
	<key>API_KEY</key>
	<string>AIzaSyCJw3e6XfvmQDPBwhV5YMvB1TXmzDL1lfI</string>
	<key>GCM_SENDER_ID</key>
	<string>63204849761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craunicproductions.firestorage</string>
	<key>PROJECT_ID</key>
	<string>firestorage-38e17</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorage-38e17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63204849761:ios:db45c2d0c7891165325220</string>
</dict>
</plist>